html, body, #app, #app>div {
  height: 100%
}
.PowerBI {
  text-align: center;
}

.PowerBI-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .PowerBI-logo {
    animation: PowerBI-logo-spin infinite 20s linear;
  }
}

.PowerBI-header {
  background-color: #bababb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.PowerBI-link {
  color: #61dafb;
}

@keyframes PowerBI-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
